/*Grid
 */
 :root {
  --container-max-width: 100%;
  --grid-columns: 16;
  --grid-gutter-width: calc(var(--spacer) * 4);
}


/*Type
 */
 :root {
  --font-sans-serif: 'nimbus_sans_lregular', sans-serif;
}

/*Components
 */
figcaption {
  line-height: 2.0rem;
}
