/*Grid
 */
 :root {
  --container-max-width: 192.0rem;
  --grid-columns: 16;
  --grid-gutter-width: calc(var(--spacer) * 4);

  // TODO: check variables lh-*
  --lh-lg: calc(var(--spacer) * 6);
}

.container {
  padding-left: calc(var(--spacer) * 4);
  padding-right: calc(var(--spacer) * 4);
}

/*Type
 */
 :root {
  --font-sans-serif: 'nimbus_sans_lregular', sans-serif;
}

/*Components
 */
figcaption {
  line-height: 2.0rem;
}
