// TODO: add style md to xs

/*Grid
 */
 :root {
  --container-max-width: 192.0rem;
  --grid-columns: 16;
  --grid-gutter-width: calc(var(--spacer) * 4);

  // TODO: check variables lh-*
  --lh-base: 1.5;
  --lh-lg: calc(var(--spacer) * 6);
}

.container {
  padding-left: calc(var(--spacer) * 4);
  padding-right: calc(var(--spacer) * 4);
}

@media (max-width: 600px) {
  :root {
    --grid-gutter-width: calc(var(--spacer) * 2);

  // TODO: check variables lh-* xs
    --lh-lg: calc(var(--spacer) * 5);
  }
  
  .container {
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
  }  
}

/*Type
 */
 :root {
  --font-sans-serif: 'nimbus_sans_lregular', sans-serif;
}

a,
button:hover {
  opacity: 0.8;
}

button {
  transition: opacity var(--transition-duration);
}

/*Components
 */
// Assign colour body bg colour random
*:not(header):not(header *) {
  background-color: inherit;
}

body {
  transition: background-color 8s;
}

.content {
  a {
    color: inherit;
  }

  strong {
    color: var(--grey-50);
    font-weight: normal;
  }
}

figcaption {
  line-height: 2.0rem;
}

.isotope-grid-item {
  transition: opacity var(--transition-duration);

  &:active,
  &:focus,
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}
