{% extends 'partials/base.html.twig' %}


{% block content %}
  <div class="container pe-4 ps-4">
    <div class="js-isotope-grid">
      <div class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=1">
      </div>
      <div class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=2">
      </div>
      <div class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=3">
      </div>
    </div>
  </div>
{% endblock %}
