{% extends 'partials/base.html.twig' %}


{% block content %}
  <div class="container pe-4 ps-4">
    <ul class="js-isotope-grid list-style-none">
      <li class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <figure>
          <img class="d-block w-100" src="https://picsum.photos/1920/1080?random=1">
          <figcaption>
            <span class="grey-50 text-nowrap">2024. 01. 01.</span> – <span class="text-nowrap">Caption</span> –  <span class="text-nowrap">Location</span>
          </figcaption>
        </figure>
      </li>
      <li class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <figure>
          <img class="d-block w-100" src="https://picsum.photos/1920/1080?random=1">
          <figcaption>
            <span class="grey-50 text-nowrap">2024. 01. 01.</span> – <span class="text-nowrap">Caption</span> –  <span class="text-nowrap">Location</span>
          </figcaption>
        </figure>
      </li>
      <li class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <figure>
          <img class="d-block w-100" src="https://picsum.photos/1920/1080?random=1">
          <figcaption>
            <span class="grey-50 text-nowrap">2024. 01. 01.</span> – <span class="text-nowrap">Caption</span> –  <span class="text-nowrap">Location</span>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
{% endblock %}
