{% extends 'partials/base.html.twig' %}


{% block content %}
  <div class="container">
    <div class="js-isotope-grid">
      <div class="col-8 js-isotope-grid-item">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=1">
      </div>
      <div class="col-4 js-isotope-grid-item">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=2">
      </div>
      <div class="col-4 js-isotope-grid-item">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=3">
      </div>
    </div>
  </div>
{% endblock %}
