{% extends 'partials/base.html.twig' %}


{% block content %}
  <div class="container pe-4 ps-4">
    <ul class="js-isotope-grid list-style-none">
      <li class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=1">
      </li>
      <li class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=2">
      </li>
      <li class="js-isotope-grid-item mb-8 col-{{ random(2, 8) }}">
        <img class="d-block mb-0 w-100" src="https://picsum.photos/1920/1080?random=3">
      </li>
    </ul>
  </div>
{% endblock %}
